#ccbpress_activity_dashboard_widget > .inside { padding: 0; margin-top: 0; }

table.ccbpress-dash-widget-api-status { width: 100%; border-collapse: collapse; text-align: center; }
table.ccbpress-dash-widget-api-status td { padding: 15px; width: 50%; }
table.ccbpress-dash-widget-api-status td div { font-size: 26px; font-weight: bold; color: #ff5555; padding-bottom: 8px; }
table.ccbpress-dash-widget-api-status td:first-of-type { border-right: 1px solid #ececec; }

.ccbpress_tab_actions { clear: both; margin-top: 23px; margin-bottom: 10px; padding: 10px; overflow: hidden; background: #fbfbfb; border: 1px solid #e5e5e5; -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .04); box-shadow: 0 1px 1px rgba(0, 0, 0, .04); }
.ccbpress_tab_actions a { display: inline-block; }
.ccbpress_tab_actions a:not(:last-of-type) { margin-right: 10px; }
.ccbpress_tab_actions:after { content: ''; clear: both; }

#ccbpress_tab_container form > h3 { padding: 8px 0; font-size: 1.3em; }
#ccbpress_tab_container .notice { background: #f1f1f1; }
#ccbpress_tab_container form > h2:not(:first-of-type) { margin-top: 30px; }

.ccbpress-radio-list { margin: 0; padding-top: 4px; }
.ccbpress-radio-list li { display: inline-block; padding-right: 15px; }

.about-wrap.ccbpress .feature-section ul { font-size: 0.85em; list-style: disc inside; padding-left: 20px; }

.ccbpress-addons .ccbpress-addon { box-sizing: border-box; background: #fff; border: 1px solid #ccc; float: left; padding: 15px 15px 45px 15px; position: relative; margin: 0 15px 15px 0; width: 350px; min-height: 350px; }
.ccbpress-addons .ccbpress-addon .ccbpress-addon-title { margin-top: 0; }
.ccbpress-addons .ccbpress-addon > a > img { width: 100%; height: auto; }
.ccbpress-addons .ccbpress-addon .button { position: absolute; bottom: 15px; left: 15px; }
@media screen and (max-width:720px) {
	.ccbpress-addons .ccbpress-addon { width: 100%; margin: 0 0 15px 0; }
}

@media screen and (max-width:1000px) {
	.wp-filter .ccbpress_tab_actions { float: none; position: relative; max-width: 100%; }
	#hs-beacon > div > iframe:nth-child(2) { top: 45px !important; }
}
